@import "tailwindcss";

.container {
    max-width: calc(1440px - (2 * 140px));
    padding: 0px 4px;
    margin: 0px auto;
    @apply w-full;
}
.landing-page-section {
    @apply my-20;
}
.category-card {
    @apply flex relative flex-col justify-center items-start w-full h-[123px] overflow-hidden rounded-md gap-4 pl-5 rtl:pl-0 rtl:pr-5;
}
.category-card-image {
    @apply absolute right-0 rtl:left-0 rtl:right-auto rtl:rotate-y-180;
}

.navlink {
    position: relative;
    &::after {
        content: "";
        transition: width 0.3s ease-in-out;
        @apply block absolute left-0 bottom-[-2] bg-black w-0 h-0.5;
    }
    &:hover,
    &.active {
        &::after {
            width: 100%;
        }
    }
}

.heading-1 {
    font-size: 53px;
    font-family: "Playfair Display", "Poppins", sans-serif;
}
